.Main {
  height: 100%;
}

.Main .cover {
  position: absolute;
  height: 1px;
  width: 1px;
}

.Main > .topics {
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: space-evenly;
  color: #f5f749;
  font-size: 1.5em;
  height: 6%;
}
.Main > .topics > li {
  width: 16%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Main > .table {
  display: flex;
  height: 95%;
}
.Main > .table > .points {
  display: flex;
  flex-direction: column;
  color: #f5f749;
  width: 2%;
}
.Main > .table > .points > li {
  height: 25%;
  display: flex;
  align-items: center;
}
